.navbar{
    background-color: black;
    color: white;
    padding: 15px;
    overflow: hidden;
}
.site-name{
    float: left;
    display: flex;
}
.site-name input{
    margin-left: 15px;
    width: auto ;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.site-menu{
    flex-flow: column;
    flex-wrap: no-wrap;
    float: right;
    flex-direction: column;
    align-items: center;
}
.site-menu a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.site-menu a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}