<app-nav></app-nav>
<div class="">
  <p>
    The purpose of this application is to unlearn the concept of Angular and
    explore the power of Angular.
    <br />
    Shoppy World leverages the power of Angular, a popular JavaScript framework,
    to create a dynamic and interactive shopping platform. Angular's robust
    features, such as component-based architecture, dependency injection, and
    routing, form the backbone of Shoppy World, enabling smooth navigation and
    seamless integration of various components.
    <br />
    In today's mobile-driven world, Shoppy World understands the importance of a
    responsive design. The application adapts gracefully to different screen
    sizes, making it accessible and enjoyable for users on both desktop and
    mobile devices. Whether you're shopping on your computer or browsing
    products on the go with your smartphone, Shoppy World provides a consistent
    and visually appealing experience.
    <br />
  </p>
  <div class="">
    Disclaimer: Shoppy World is a fictitious application developed solely for
    learning purposes, and no actual products or transactions are associated
    with it.
  </div>
</div>
<app-footer></app-footer>