<!-- <div *ngFor="let item of [1,3,5]">
    <p>Number is: {{item}} </p>
</div> -->
<div class="container" >
<div class="card" *ngFor="let p of products" [ngStyle]="{backgroundColor:p.available === 'Available' ? '#D5F5E3' : '#FADBDB'}">
    <div class="name-container">
        <h2>{{ p.name }}</h2>
      </div>
      <div class="detailContainer" >
        <div class="details" [ngStyle]="{color:p.available === 'Available'?'Green' : 'Red'}">{{ p.available }}</div>
        <div class="details">Price: {{ p.price }}</div>
        <div class="details">Color: {{p.color}} </div>
      </div>
      <div class="buttonContainer">
        <button class="success">Show details</button>
        <button class="warning" *ngIf="p.available === 'Available'; else notifyMe;">Buy Now</button>
        <ng-template #notifyMe>
          <button class="danger">Notify me</button>
        </ng-template>
      </div>
   </div>
</div>
